@model System.Linq.IOrderedEnumerable<App.MVC.ViewModels.ComandaViewModel>

@{
    Layout = "../Shared/_LayoutImpressao.cshtml";
}

@if (Model.Any())
{
    <table style="width: 100%">
        <tr align="center">
            <td>
                <h3>Descontos oferecidos</h3>
            </td>
        </tr>
    </table>
    <table class="table table-condensed">
        <tr>
            <th>Data</th>
            <th class="text-center">Cliente</th>
            <th class="text-center">Profissional</th>
            <th class="text-right">Total c\ Desconto</th>
            <th class="text-right">Valor Desconto</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem => item.SData)</td>
                <td class="text-center">@Html.DisplayFor(modelitem => item.Cliente.Nome)</td>
                <td class="text-center">@Html.DisplayFor(modelitem => item.Profissional.Nome)</td>
                <td class="text-right">@Html.DisplayFor(modelitem => item.ValorTotal)</td>
                <td class="text-right">@Html.DisplayFor(modelitem => item.ValorDesconto)</td>
            </tr>
        }
    </table>
    <div class="col-xs-12 col-md-12 text-right">
        <h3>Total de descontos no período: @Model.Sum(m => m.ValorDesconto).Value.ToString("C")</h3>
    </div>
}
else
{
    <table style="width: 100%">
        <tr align="center">
            <td>
                <h3>Não existem descontos oferecidos neste período</h3>
            </td>
        </tr>
    </table>
}