@model IOrderedEnumerable<App.MVC.ViewModels.FinanceiroViewModel>

@{
    Layout = "../Shared/_LayoutImpressao.cshtml";
}

@if (Model.Any())
{
    <table style="width: 100%">
        <tr align="center">
            <td>
                <h3>Recebimentos</h3>
            </td>
        </tr>
    </table>
    <table class="table table-condensed">
        <tr>
            <th>Data</th>
            <th>Descrição</th>
            <th class="text-center">Quem</th>
            <th class="text-right">Valor</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem => item.SDtVcto)</td>
                <td>@Html.DisplayFor(modelitem => item.Descricao)</td>
                <td class="text-center">@Html.DisplayFor(modelitem => item.NomeQuem)</td>
                <td class="text-right">@Html.DisplayFor(modelitem => item.ValorPago)</td>
            </tr>
        }
    </table>
    <div class="col-xs-12 col-md-12 text-right">
        <h3>Total recebido no período: @Model.Sum(m => m.ValorPago).Value.ToString("C")</h3>
    </div>
}
else
{
    <table style="width: 100%">
        <tr align="center">
            <td>
                <h3>Não existem recebimentos neste período</h3>
            </td>
        </tr>
    </table>
}