@using System.Web.UI.WebControls
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
@Styles.Render("~/Content/bootstrap-material-datetimepicker")
@Scripts.Render("~/bundles/bootstrap-material-datetimepicker")
@Styles.Render("~/Content/typeahead")
@Scripts.Render("~/bundles/typeahead")
<div class="page-content">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-blue-sharp bold uppercase">Agendas do cliente</span>
                <span class="caption-helper">Relatório que mostra as agendas do cliente no período</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                @using (Html.BeginForm("ClienteAgendamento", "Relatorio", FormMethod.Post, new { target = "_blank" }))
                {
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input">
                            <label for="NomeCliente" style="font: 'Open Sans', sans-serif 14px; color: #9c9999">Nome do Cliente</label>
                            <input type="text" class="form-control" id="NomeCliente" name="NomeCliente" required placeholder="Digite o nome do cliente">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <label style="font: 'Open Sans', sans-serif 14px; color: #9c9999">Data Inicial</label>
                            @Html.TextBox("dataInicial", Convert.ToDateTime(Session["rcli_dtInicial"]).ToString("dd/MM/yyyy"), new { @class = "form-control datepicker" })
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <label style="font: 'Open Sans', sans-serif 14px; color: #9c9999">Data Final</label>
                            @Html.TextBox("dataFinal", Convert.ToDateTime(Session["rcli_dtFinal"]).ToString("dd/MM/yyyy"), new { @class = "form-control datepicker" })
                        </div>
                    </div>
                    <div class="col-md-2 text-left">
                        <br />
                        <br />
                        <input type="submit" value="Gerar Relatório" class="btn blue" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/Relatorios")

<script>
    try {
        var clientes = new Bloodhound({
            datumTokenizer: function (d) { return Bloodhound.tokenizers.whitespace(d.Nome); },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            limit: 10,
            prefetch: {
                url: 'http://' + $(location).attr('host') + '/Cliente/GetAll',

                cache: false //NEW!
            }
        });

        clientes.clearRemoteCache();
        clientes.initialize(true);

        $('#NomeCliente').typeahead(null, {
            name: 'cliente',
            hint: (App.isRTL() ? false : true),
            displayKey: 'Nome',
            source: clientes.ttAdapter(),
        });
    } catch (e) {
        alert(e)
    }

</script>
