@using App.MVC.ViewModels
@model ComandaViewModel

@Scripts.Render("~/bundles/Mascaras")
@Styles.Render("~/Content/bootstrap-timepicker")
@Scripts.Render("~/bundles/bootstrap-timepicker")
<script src="~/assets/pages/scripts/components-date-time-pickers.min.js"></script>

@using (Html.BeginForm("AddServico", "Comanda"))
{
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="NomeServico" style="font: 'Open Sans', sans-serif 14px; color: #9c9999">Serviço</label>
                <select class="bs-select form-control" data-live-search="true" data-size="8" id="NovoServico" name="NovoServico" required>
                    <option value=""></option>
                    @foreach (var serv in (IEnumerable<ServicoViewModel>)Session["TodosServicos"])
                    {
                        <option>@serv.Descricao</option>
                    }
                </select>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-md-line-input ">
                <input type="text" class="form-control" id="NovoValor" name="NovoValor" required onkeyup="mascara(this, moeda);">
                <label for="Valor">Valor em R$</label>
                <span class="help-block">Valor que você cobra pelo serviço...</span>
            </div>
        </div>
    </div>

    <br />
    <div class="panel panel-warning" style="display: none" id="divConfig">
        <div class="panel-heading">Este serviço ainda não foi configurado, preencha as informações abaixo para facilitar a configuração</div>
        <div class="panel-body row">
            <div class="col-xs-6 col-md-6">
                <div class="form-group form-md-line-input form-md-floating-label ">
                    <div class="input-icon right">
                        <input type="text" class="form-control" id="NovaComissao" name="NovaComissao" maxlength="2" onkeyup="mascara(this, soNumeros);">
                        <label for="NovaComissao" id="lblComissao">Comissão do profissional</label>
                        <span class="help-block">% para o profissional...</span>
                        <i id="iconComissao">%</i>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="form-group form-md-line-input">
                    <div class="input-group">
                        <input type="text" class="form-control timepicker timepicker-24" id="NovaHoraDuracao" name="NovaHoraDuracao" value="0:00">
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-clock-o"></i>
                            </button>
                        </span>
                        <label for="duracao">Duração</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" data-dismiss="modal" id="btnCancelar">Cancelar</button>
        <input type="submit" class="btn green text-right" value="Incluir Serviço" />
    </div>
    @Scripts.Render("~/bundles/Comanda-Servico")
}
