@using App.MVC.ViewModels
@model IEnumerable<ClienteViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/datatables")
@Scripts.Render("~/bundles/datatable")
@Scripts.Render("~/bundles/mascaras")

<div class="page-content">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-heart font-red-mint"></i>
                <span class="caption-subject font-blue-sharp bold uppercase">Meus Clientes</span>
                <span class="caption-helper">O Cliente é o bem mais precioso do salão...</span>
            </div>
            <div class="actions">
                <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-xs-12 col-md-12 text-left">
                    <br />
                    <a class="btn blue" data-toggle="modal" href="#modalCliente">
                        <i class="fa fa-plus"></i>
                        Incluir um novo cliente
                    </a>
                </div>
            </div>
            <br />
            <div>
                <table class="table table-striped table-bordered table-hover table-condensed" id="tableClientes">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Celular</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Nome</td>
                                <td>@item.Email</td>
                                <td>@item.Telefone</td>
                                <td>@item.Celular</td>
                                <td class="text-right">
                                    <a class="btn btn-xs blue tooltips editar" data-id="@item.Id" data-placement="top" data-original-title="Editar os dados do cliente">
                                        <i class="fa fa-edit"></i> Editar
                                    </a>
                                    <a class="btn btn-xs red-soft tooltips excluir" data-placement="top" data-original-title="Excluir" data-item-id="@item.Id">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Cliente-Index")

<div class="modal fade" id="modalEdit">
</div>

<div class="modal fade" id="modalCliente" tabindex="-1" role="dialog" aria-labelledby="modalClienteLabel" aria-hidden="true">
    @Html.Partial("Detalhe", new ClienteViewModel())
</div>