@model App.MVC.ViewModels.ProdutoViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Produto</h4>
        </div>
        @using (Html.BeginForm("Detalhe", "Produto", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Status)
            @Html.HiddenFor(m => m.EmpresaId)
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group form-md-line-input ">
                            @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control", @required = "required" })
                            <label class="control-label">Descriçao do produto<span class="required"> * </span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input">
                            @Html.TextBoxFor(model => model.QtdEstoque, new { @class = "form-control", maxlength = "15", @onkeyup = "mascara(this, soNumeros);"})
                            <label class="control-label">Estoque Disponível</label>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input ">
                            <div class="input-icon left">
                                @Html.TextBoxFor(model => model.PrecoVenda, new { @class = "form-control", @onkeyup = "mascara(this, moeda);", @required = "required" })
                                <label class="control-label">Valor de venda<span class="required"> * </span></label>
                                <i id="iconComissao">R$</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input">
                            @Html.TextBoxFor(model => model.Unidade, new { @class = "form-control", maxlength = "15", @required = "required" })
                            <label class="control-label">Unidade de medida<span class="required"> * </span></label>
                            <span class="help-block">Und, Kg, Pct, etc...</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input ">
                            <div class="input-icon right">
                                @Html.TextBoxFor(model => model.ValorParaProfissional, new { @class = "form-control", maxlength = "3", @onkeyup = "mascara(this, soNumeros);"})
                                <label >Comissão do profissional</label>
                                <span class="help-block">% para o profissional...</span>
                                <i id="iconComissao">%</i>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal" id="btnCancelar">Cancelar</button>
                    <button type="submit" class="btn blue">Salvar Produto</button>
                </div>
            </div>
        }
    </div>
</div>