@using ControleDeSalao.Domain.Entities

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-arrow-down"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="">@( ((IEnumerable<Financeiro>)ViewBag.DespesasMesAtual).Any() ? ((IEnumerable<Financeiro>)ViewBag.DespesasMesAtual).Sum(m => m.Valor).Value.ToString("C") : "R$ 0,00")</span>
                    </div>
                    <div class="desc"> Despesas no mês </div>
                </div>
                <a class="more" href="/Financeiro">
                    Ver mais
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green-soft">
                <div class="visual">
                    <i class="fa fa-arrow-up"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup">@( ((IEnumerable<Financeiro>)ViewBag.ReceitasMesAtual).Any() ? ((IEnumerable<Financeiro>)ViewBag.ReceitasMesAtual).Sum(m => m.Valor).Value.ToString("C") : "R$ 0,00")</span>
                    </div>
                    <div class="desc"> Receitas no mês </div>
                </div>
                <a class="more" href="/Financeiro">
                    Ver mais
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-dollar"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup">@(ViewBag.SaldoMesAtual.ToString("C"))</span>
                    </div>
                    <div class="desc"> Saldo do mês </div>
                </div>
                <a class="more" href="/Financeiro">
                    Ver mais
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat grey-mint">
                <div class="visual">
                    <i class="fa fa-percent"></i>
                </div>
                <div class="details">
                    <div class="number">
                        @if (ViewBag.SaldoMesAtual > ViewBag.SaldoMesAnterior)
                        {
                        <i class="fa fa-arrow-up"> </i>
                        }
                        else
                        {
                        <i class="fa fa-arrow-down"> </i>
                        }
                        <span data-counter="counterup">@(ViewBag.PorcentagemMesAtual.ToString("f"))</span>%
                    </div>
                    <div class="desc"> Em relação ao mês passado </div>
                </div>
                <a class="more" href="/Financeiro">
                    Ver mais
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-line-chart font-blue-hoki"></i>
                        <span class="caption-subject bold uppercase font-blue-hoki"> Lucro anualizado</span>
                        <span class="caption-helper">Veja neste gráfico a evolução do seu lucro neste ano</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="fullscreen"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="lucroAnual" class="chart"> </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-purple-soft"></i>
                        <span class="caption-subject bold uppercase font-purple-soft">Receita X Despesas no mês</span>
                        <span class="caption-helper"></span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="fullscreen"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="receitaDespesa" class="chart"> </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-pie-chart font-green-haze"></i>
                        <span class="caption-subject bold uppercase font-green-haze"> Custos por plano de conta</span>
                        <span class="caption-helper"></span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="fullscreen"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="despesasPorPlanoDeConta" class="chart"> </div>
                </div>
            </div>
        </div>

    </div>
</div>
@Scripts.Render("~/bundles/Dashboard-Gerencial")
@Scripts.Render("~/bundles/amcharts")